@mixin buttons1 {
    background-color: white;
    border: 0.667px $gray2 solid;
    
    &:hover {
        border: 0.667px $darkGray solid;
    }
    
    &.selected {
        background-color: $darkGray;
        color: white;
    }
}

@mixin buttons2 {
    background-color: white;
    border: 0.667px $gray2 solid;
    
    &:hover {
        border: 0.667px $darkGray solid;
    }
    
    &.selected {
        border: 2px $darkGray solid;
        background-color: $btnHover;
    }
}