@font-face {
    font-family: sf-pro;
    src: url('../../../assets/fonts/SF-Pro-Display-Light.ttf')
}

@font-face {
    font-family: blinkMac;
    src: url('../../../assets/fonts/blinkmacsystemfont-light.ttf')
}

@font-face {
    font-family: fa-solid;
    src: url('../../../assets/fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: fa-reg;
    src: url('../../../assets/fonts/fa-regular-400.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('../../../assets/fonts/fa-brands-400.ttf');
}

@font-face {
    font-family: fa-comp;
    src: url('../../../assets/fonts/fa-v4compatibility.ttf');
}