.index-section .stay-list,
.index-filter-section,
.app-header-container {
    padding-inline: 1.5rem;
}

.stay-details,
.stay-reservation {
    padding-inline: 0;
}

@media (width > 742px) {
    .index-section .stay-list,
    .index-filter-section,
    .app-header-container,
    .stay-details,
    .stay-reservation {
        padding-inline: 2.5rem;
    }
}

@media (width > 1280px) {
.stay-details,
.stay-reservation,
.app-header-container {
        padding-inline: calc(50vw - 40rem);
    }
}

@media (width > 1920px) {
    .index-section .stay-list,
    .index-filter-section,
    .app-header-container {
        padding-inline: 5rem;
    }
}

// @media (width > 2200px) {
//     .stay-details,
//     .stay-reservation {
//         padding-inline: 10rem;
//     }
// }