.content-and-modal-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "col1 col2"
}

.gallery-stay-details {
    display: grid;
    gap: rem(8px);
    grid-template-columns: repeat(4, rem(274.5px));
    grid-template-rows: repeat(2, rem(241px));

}