.index-section .stay-list,
.index-filter-section,
.app-header {
    padding-inline: 1.5rem;
}

@media (width > 742px) {
    .index-section .stay-list,
    .index-filter-section,
    .app-header {
        padding-inline: 2.5rem;
    }
}

@media (width > 1920px) {
    .index-section .stay-list,
    .index-filter-section,
    .app-header {
        padding-inline: 5rem;
    }
}

//////
.content-and-modal-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "col1 col2";
}

.gallery-stay-details {
    display: grid;
    gap: rem(8px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.bedroom-container {
    grid-auto-flow: column;
    gap: 1rem;
}