.stay-details {
    .content-and-modal-container {
        margin-block-start: 2rem;
        gap: 7rem;
    }

    width: 70rem;
    margin-inline: auto;

    .stay-details-header {
        h1 {
            margin: 1em 0 1em;
            font-family: circular-reg;
        }

        .header-btns {
            button {
                padding: 0;
            }

            .save.flex {
                gap: rem(8px);
            }

            .share.flex {
                gap: rem(6.5px);
            }

            .first-btn {
                margin-inline-end: rem(20px);
            }
        }

    }

    .host-by {
        gap: rem(24px)
    }

    .host-img {
        width: rem(40px);
        border-radius: 50%;
    }

    .host-by-txt {
        gap: rem(4px);

        h3 {
            font-size: 1rem;
            margin: 0;
        }

        p {
            font-family: rem(14px);
        }
    }

    .no-safety-amenity {
        text-decoration: line-through;
    }

    .header-btns button {
        background-color: transparent;
        text-decoration: underline;
    }

    .content {
        grid-area: col1;

    }

    .reserve-modal {
        grid-area: col2;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border: 1px solid $gray3;
        border-radius: 12px;

        .selectors-container label {
            text-transform: uppercase;
        }

        .arrow-down::before {
            content: '\f107';
            font-family: fa-solid;
        }

        .arrow-up::before {
            content: '\f106';
            font-family: fa-solid;
        }
    }

    .first-col-amenity-ul, .second-col-amenity-ul {
        li {
            padding-block-end: rem(16px);
        }
    }
    .stay-rooms {
        padding-block-start: rem(48px);
        h2 {
            padding-block-end: rem(24px);
        }

        .bedroom-div {
            padding-inline: rem(24px);
            padding-block-start: rem(24px);
            width: rem(201.11px);
            height: max-content;
            border: 1px solid $gray3;
            border-radius: rem(12px);

            .icons {
                margin-block-end: 1rem;
            }

            h4 {
                margin-block-end: rem(8px);
            }

            .bedroom-details p {
                font-size: rem(14px);
            }
        }
    }


}