.stay-details {
    width: rem(960px);
    margin-inline: auto;
    .no-safety-amenity {
        text-decoration: line-through;
    }

    .header-btns button {
        background-color: transparent;
        text-decoration: underline;
    }

    .content {
        grid-area: col1;
    }

    .reserve-modal {
        grid-area: col2;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;

        .selectors-container label {
            text-transform: uppercase;
        }

        .arrow-down::before {
            content: '\f107';
            font-family: fa-solid;
        }

        .arrow-up::before {
            content: '\f106';
            font-family: fa-solid;
        }
    }


}