.app-header-container {
    padding-block-end: 1em;
    margin-block-end: 1em;
    border-bottom: solid 0.667px $gray2;
    z-index: 1;
    background-color: white;
    display: flex;
    //  width: fit-content;
}



.expanded-header {

    height: 4.2em;
    width: 100%;
    margin-top: 0.3em;
    margin-inline: 0;
    z-index: 1;


    .details-header {
        width: 80%;
    }



    & .compact-header {
        height: 2.875rem;
        border-radius: 48px;
        border: 1px solid #dddddd;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875em;
        color: $darkGray;
        cursor: pointer;
        opacity: 0;
        width: 0;


        & .map {
            width: 10.3rem;
            text-align: center;

        }

        & .calendar {
            width: 9.8125rem;
            text-align: center;
            box-shadow: 1px 0 0px 0px rgba(0, 0, 0, 0.1), -1px 0 0px 0px rgba(0, 0, 0, 0.1);

        }

        & .guests {

            width: 14rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: $gray1;
            font-weight: normal;
            padding-left: 0;

            & .search-btn {
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                background-color: $siteColor;
                margin-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &:before {
                    content: '\f002';
                    font-family: fa-solid;
                    color: white;
                    font-size: 11px;
                }

            }
        }
    }

    .logo-section {
        width: 22em;
        cursor: pointer;

        .logo {
            width: 7.375em;
            height: 4em;
            font-size: 1.25em;
            font-family: circular-bold;
            color: $siteColor;

            gap: 0.2em;

            img {
                height: 30px;
            }
        }


    }

    .nav-section {
        width: 25em;



        nav {
            width: 22em;
            font-size: 1em;

            a {
                margin: 10px 16px;

                &.active {
                    color: $darkGray;
                    font-family: circular-bold;
                }
            }
        }


    }



    .user-section {
        width: 22.5em;

        justify-content: end;
        gap: 1em;

        button {
            width: 5.33rem;
            height: 3rem;
            padding: 8px 8px 8px 14px;
            border: 0.667px solid $gray2;
            border-radius: 32px;
            font-family: circular-bold;
            background-color: white;
            position: relative;

            gap: 1em;

            transition: 0.2s;

            .profile {
                position: relative;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                background-color: white;

                &::before {
                    content: '\f2bd';
                    font-family: fa-solid;

                    position: absolute;
                    inset: 0 0 0 0;
                    scale: 2.6;
                    transform-origin: top;
                    color: $gray1; //switch to $gray1
                }
            }

            &:hover {
                box-shadow: 1px 2px 2px 2px $gray2;
                cursor: pointer;
            }
        }
    }

    .grayTxt:not(.grayTxt:hover) {
        color: $headerGray;
    }

}

.fixed-header.header-large{
    position: fixed;}

.fixed-header ,
.header-small{
  
    top: 0;
    padding-block-end: 0;
    transition: 0.5s;
    width: 100vw;


    & .header-filter {
        transform: translateY(-4.6rem) scale(0.4, 0.65);
        opacity: 0;
        transition: 0.3s;
        height: 0;
    }

    & .compact-header {
        display: inline;
        opacity: 1;
        transition: 0.3s;
        display: flex;
        width: 22rem;
    }

    & nav {
        display: none;

    }


}

@media (width < 740px) {
    .expanded-header {
        display: none;
    }
}

