.expanded-header {
    height: 5em;
    width: 100vw;
    padding-inline: 2.5rem;

    box-shadow: rgba(122, 122, 122, 0.08) 0 1px 0;

    & .nav-section {
        width: 25em;

        & .nav {
            width: 22em;
            font-size: 1em;

            & a {
                margin: 10px 16px;
            }
        }
    }

    & .logo-section {
        width: 22em;

        & .logo {
            width: 7.375em;
            height: 4em;

            font-size: 1.25em;
            font-weight: bold;
            color: $siteColor;

            gap: 0.2em;

            & img {
                height: 30px;
            }
        }
    }

    & .user-section {
        width: 22.5em;

        justify-content: end;
        gap: 1em;

        & button {
            width: 5.33rem;
            height: 3rem;
            padding: 8px 8px 8px 14px;
            border: 0.667px solid $gray2;
            border-radius: 2em;
            font-weight: bold;
            background-color: white;

            gap: 1em;

            transition: 0.2s;

            & .profile {
                width: 2.4em;
                height: 2.4em;
                background-color: $gray1;
                border-radius: 50%;

                &::before {
                    content: '\f2bd';
                    font-family: fa-solid;
                    color: white;
                }
            }
        }

        & button:hover {
            box-shadow: 1px 2px 2px 2px $gray2;
            cursor: pointer;
        }
    }

    & .grayTxt:not(.grayTxt:hover) {
        color: $headerGray;
    }
}

.app-header {
    padding-block-end: 1em;
    margin-block-end: 1em;
    border: solid 0.667px $gray2;
}

