.guest-filter {
    position: absolute;
    top: 120%;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    width: 25.375rem;
    height: 25.5625rem;
    border-radius: 1.5em;
    background-color: white;
    right: 0%;
}