.header-filter {
    width: calc(100vw - 5rem);
    max-width: 850px;
    font-size: 12px;
    border-radius: 3em;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dddddd;
    margin-bottom: 0.5em;
    margin-inline: 2.5rem;
    position: relative;
    column-gap: 0.4em;
    font-weight: bold;

    .guest-count {
        width: 7.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        font-size: 14px;
        color: $headerGray;
        font-weight: normal;
        
    }

    &>div {
        height: 4rem;
        flex-grow: 1;
        border-radius: 3em;
        padding: 0.875rem 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        &:not(.selected):hover {
            background-color: rgba(#71717123, 0.25);
        }
    }

    & .destination {
        width: 17.75em;
    }

    & .dates {
        width: 8.75em;
    }

    & .guests {
        width: 19.25em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline-end: 0.7em;
    }

    & .search-btn {
        height: 3rem;
        width: 3rem;
        background-color: $siteColor;
        border-radius: 50%;
        align-self: center;
        transition: 0.2s;
    

        & span{
            display: none;
            
        }

        &.expanded {
            width: 7rem;
            border-radius: 25px;
            
            & span{
                display: inline;
                color: white;
                margin-left: 0.4em;
                font-weight: bold;
                
            }
        }
        

        &:before {
            content: '\f002';
            font-family: fa-solid;
            color: white;
        }
    }

    & .selected {
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid transparent;
        z-index: 1;
        background-color: white;
    }

    &.grey {
        background-color: #ebebeb;
    }



}

@media (width < 740px) {
    .header-filter {
        gap: 0;
        justify-content: space-between;

        span {
            display: none;
        }

        div {
            padding: 0.875rem 1rem;

            &.guests {
                width: auto;
            }
        }
    }
}