.header-filter {
    width: calc(100vw - 5rem);
    max-width: 850px;
    font-size: 12px;
    border-radius: 3em;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.18);
    margin-bottom: 1em;
    margin-inline: 2.5rem;
    // padding-inline-end: 0.5rem;

    column-gap: 0.4em;

    span {
        font-size: 14px;
        color: $headerGray;
    }

    &>div {
        height: 4rem;
        flex-grow: 1;
        border-radius: 3em;
        padding: 0.875rem 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: rgba(#71717123, 0.25);
        }
    }

    & .destination {
        width: 17.75em;
    }

    & .dates {
        width: 8.75em;
    }

    & .guests {
        width: 19.25em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline-end: 0.7em;
    }

    &  .search-btn {
        height: 3rem;
        width: 3rem;
        background-color: $siteColor;
        border-radius: 50%;


        align-self: center;

        &:before {
            content: '\f002';
            font-family: fa-solid;
            color: white;
        }
    }

}