.label-filter-section {
    grid-auto-flow: column;
    grid-gap: 0 1.8rem;

    align-items: center;

    overflow: auto hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    div {
        font-size: 0.7rem;
        font-weight: 600;
        opacity: 0.6;

        width: 4rem;
        padding-block: 0.5rem 0.8rem;
        margin-block: 0.2rem 0.8rem;
        border-block-end: 2px solid white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        cursor: pointer;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        p {
            text-wrap: nowrap;
        }

        &:hover {
            opacity: 1;
            border-block-end: 2px solid $gray2;
        }

        &:active {
            color: $darkGray;
            border-block-end: 2px solid black;

            scale: 0.85;
            transition: scale 1s;
        }
    }
}

.index-filter-section {
    margin-inline: 2.5rem;
    height: 4.625rem;
    width: calc(100vw - 6em);
    z-index: 2;

    grid-auto-flow: column;
    grid-gap: 0 1rem;

    button {
        font-size: 0.7rem;
        font-weight: 600;

        align-self: center;

        height: 2.9166875rem;
        width: 5.7rem;
        margin: 0 0.1rem 0.3rem 0;
        background-color: transparent;
        border: 0.667px solid $gray2;
        border-radius: 0.75rem;
        color: $darkGray;

        transition: 0s;
        
        img {
            height: 1rem;
            width: 1rem;
        }

        &:hover {
            background-color: $btnHover;
            border: 1px solid $darkGray;
        }
    }
}