.map-filter {
    position: absolute;
    top: 120%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0/0.15);
    width: 26.75rem;
    height: 25.5625rem;
    border-radius: 1.5em;
    background-color: white;
}