.map-filter {
    position: absolute;
    top: 120%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0/0.15);
    width: 26.75rem;
    height: 25.5625rem;
    border-radius: 1.5em;
    background-color: white;

    & .regions {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: 32px 24px 24px 24px;
        row-gap: 1em;

        & .region {
            padding: 0.5rem;
        }

    }

    & img {
        width: 6.8rem;
        height: 6.8rem;
    }
}