.order {
    margin-inline: auto;
    position: absolute;
    padding: rem(24px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid $gray3;

    .order-details {
        gap: rem(48px);
        margin-block-start: rem(16px);
    }
    .close-btn {
        height: rem(48px);
        padding: rem(24px);
        background: radial-gradient(103.95% 1413.54% at -3.95% 100%, #D33753 0%, #D13660 52.83%, #C72D65 100%);
        border-radius: rem(8px);
        font-weight: 590;
        line-height: 19px;
        color: #ffffff;
        margin-block: 1rem;
        cursor: pointer;
    }

    img {
        object-fit: contain;
        width: rem(300px);
    }
}