.stay-payment .payment-modal {
    padding: rem(24px);
    border: 1px solid $gray3;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

    img {
        width: 5rem;
        height: 5rem;
    }

    .selectors-container label {
        text-transform: uppercase;
    }

    .arrow-down::before {
        content: '\f107';
        font-family: fa-solid;
    }

    .arrow-up::before {
        content: '\f106';
        font-family: fa-solid;
    }

    .container-price-selectors {
        // width: rem(322.33px);
        // height: rem(226px);
    }

    .price-logo {
        h2 {
            font-size: rem(22px);
        }

        span {
            font-size: 1rem;
        }

    }

    .selectors-container {
            cursor: pointer;
        .check-in,
        .checkout {
            border: 1px solid $borderclr;
            flex-grow: 1;
            width: rem(160.66px);
            height: rem(56px);
            z-index: 100;
        }

        label {
            font-size: em(11px);
            font-family: circular-bold;
            cursor: pointer;
        }

        div.txt-date {
            font-size: rem(14px);
        }

        .txt {
            padding: 26px 12px 10px;
            align-self: flex-end;
        }

        .guest-selector {
            padding: 26px 36px 10px 12px;
            border: 1px solid $borderclr;
            height: rem(56px);
            justify-content: flex-end;
            position: relative;
        }
    }

    .reserve-btn {
        height: rem(48px);
        // padding: 14px 0px;
        background: radial-gradient(103.95% 1413.54% at -3.95% 100%, #D33753 0%, #D13660 52.83%, #C72D65 100%);
        border-radius: rem(8px);
        font-family: circular-bold;
        line-height: 19px;
        color: #ffffff;
        margin-block: 1rem;
        cursor: pointer;
        }
    }

    .reserve-btn {
        height: rem(48px);
        // padding: 14px 0px;
        background: radial-gradient(103.95% 1413.54% at -3.95% 100%, #D33753 0%, #D13660 52.83%, #C72D65 100%);
        border-radius: rem(8px);
        font-family: circular-bold;
        line-height: 19px;
        color: #ffffff;
        margin-block: 1rem;
        cursor: pointer;
    }

    .charged-p {
        text-align: center;
        margin-block-end: 1rem;
    }

    .price-calc, .fee-calc  {
        margin-block-end: 1rem;
    }
    .charged-p {
        text-align: center;
        margin-block-end: 1rem;
    }

    .price-calc, .fee-calc  {
        margin-block-end: 1rem;
    }

    .sum-total {
        color: #222222;
        margin-block-start: 1rem;
        font-family: circular-bold;
    }
}

@media (width > 742px) {
    .reserve-modal {
        display: block;
    .sum-total {
        color: #222222;
        margin-block-start: 1rem;
        font-family: circular-bold;
    }
}

@media (width > 742px) {
    .reserve-modal {
        display: block;
    }
}