.stay-payment-details {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    font-family: circular-reg;

    .payment-details-header {

        .go-back-arr,
        h1 {
            padding-block: rem(64px) rem(32px);
        }

        .go-back-arr::before {
            content: "\f053";
            font-family: fa-solid;
            padding-inline-end: rem(18px);
        }

        h1 {
            font-size: rem(32px);
            font-family: circular-reg;
            margin: 0;
        }
    }

    .reservation-details {
        h2 {
            font-size: rem(22px);
            padding-block-end: 24px;
        }

        .dates, .guests {
            padding-block-end: rem(24px);
            padding-block-start: .5rem;
        }
    }

    .payment {
        .credit-card-details, .required-and-phone, .policy, .ground-rules {
            padding-block: 2rem rem(24px);
        }

        .credit-card-header {
            padding-block-end: rem(24px);
            h2 {
                padding-block-end: 0;
            }
        }

        .circle {
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid $gray3;
            width: rem(22px);
            height: rem(22px);
        }

        .btn {
            max-width: rem(560px);
            height: rem(56px);
        }

        .credit-card-imgs {
            gap: rem(3px);
            img {
                height: rem(9px);
            }
        }

        .select-credit-debit {
            border: 1px solid $gray3;
            padding: rem(16px);
            border-radius: rem(8px);

            .arrow-down::before {
                content: '\f078';
                font-family: fa-solid;
            }
    
            .arrow-up::before {
                content: '\f106';
                font-family: fa-solid;
            }

            .container {
                gap: rem(16px);
                p {
                    color: #484848;
                }
            }
        }
    }
}