.stay-payment-details {
    .payment {
        .circle {
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid $gray3;
            width: rem(22px);
            height: rem(22px);
        }

        .btn {
            max-width: rem(560px);
            height: rem(56px);
        }

        .credit-card-imgs {
            gap: rem(3px);
            img {
                height: rem(9px);
            }
        }
    }
}