.progress-footer{
    position: fixed;
    bottom: 0;
    height: 5.5em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 1;
    background: white;
    width: 100%;

    & .next-btn{
        margin-right: 50px;
    }

    & .back-btn{
        margin-left: 50px;
    }
}