.stay-edit-intro {
    display: flex;
    flex-direction: row;
    width: 80%;

    & video {
        width: 65%;
    }

    & .text {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 40em;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.stay-edit-intro .text .step,
.stay-edit-intro .text .question,
.stay-edit-intro .text .description {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
    font-size: 1.125em;
    margin-bottom: 1em;
}

.stay-edit-intro .text .question {
    width: 10em;
    font-size: 3em;
}