.stay-details-date-filter {
    position: absolute;
    top: -130%;
    left: -142%;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    width: 50rem;
    height: 31rem;
    border-radius: 1.5em;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-content: center;
    flex-direction: column;

    & .rdrMonths {
        font: size 0.875em;
     }
 
     & .rdrDays {
        font-size: 0.875em;
     }

}










// .rdrDateRangePickerWrapper span {
//     color: black;
//     border-radius: 50%;
//     // height: 2.7em;
// }


// .rdrInRange{
//     background-color: none !important;
// }