.user-nav-modal {
    width: 15.3rem;
    height: 20rem;

    position: absolute;
    top: 80px;
    right: 80px;

    font-size: 0.875em;
    background-color: white;
    padding: 0 1em 1em 1em;
    // border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-content: center;

    z-index: 1;

    &>* {
        padding-block: 2rem;
    }
}